@page "/lazy"

<h1>Lazy</h1>
<p>@DebugValue</p>

<a href="/lazy-second">Now click here</a>

@code {
    public string DebugValue
    {
        get
        {
            Console.WriteLine(OperatingSystem.IsBrowser() ? "Running on browser" : "Not running on browser");
            System.Diagnostics.Debugger.Break();
            return "Ok, wasmcli was disabled and the first page works as expected.";
        }
    }
}